body {
  padding-bottom: 20px;
  background-color: #f8f9fa;
}

.navbar {
  margin-bottom: 20px;
}

.bg-primary-dark {
  background-color: #0056b3;
}

.bg-success-dark {
  background-color: #1e7e34;
}

.bg-danger-dark {
  background-color: #bd2130;
}

.dashboard-icon {
  font-size: 2rem;
}

.table th, .table td {
  vertical-align: middle;
}

.card {
  margin-bottom: 1rem;
  transition: all 0.2s ease-in-out;
}

.card:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}